apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    env:
      - name: USER
        value: traefik
    service:
      type: ClusterIP
    tracing:
      otlp:
        enabled: true
        http:
          endpoint: http://host.k3d.internal:{{ dashboard.otel.http_port }}
      sampleRate: 1
    metrics:
      otlp:
        enabled: true
        http:
          endpoint: http://host.k3d.internal:{{ dashboard.otel.http_port }}
        pushInterval: 10s
    additionalArguments:
      - "--tracing.otlp.http=true"
      - "--tracing.otlp.http.endpoint=http://host.k3d.internal:{{ dashboard.otel.http_port }}"
      - "--metrics.otlp.http=true"
      - "--metrics.otlp.http.endpoint=http://host.k3d.internal:{{ dashboard.otel.http_port }}"
