[project]
name = "flux-local"

[dashboard]

[links]
headlamp = "http://localhost:8080"

[services.git-server]
command = "bash setup.sh"
port = 9080

[cluster]
k3s_args = ["--disable=traefik"]

[cluster.logs]
namespaces = "all"

[cluster.addons.traefik]
type = "helm"
chart = "traefik/traefik"
repo = "https://traefik.github.io/charts"
namespace = "traefik"
wait = true
depends_on = ["flux"]
port_forward = { 8080 = "svc/traefik:80" }

[cluster.addons.traefik.values]
"service.type" = "ClusterIP"
"tracing.otlp.enabled" = true
"tracing.otlp.http.endpoint" = "http://host.k3d.internal:4318/v1/traces"
"tracing.sampleRate" = 1
"metrics.otlp.enabled" = true
"metrics.otlp.http.endpoint" = "http://host.k3d.internal:4318/v1/metrics"
"metrics.otlp.pushInterval" = "10s"

[cluster.addons.flux]
type = "helm"
chart = "fluxcd-community/flux2"
version = "2.16.4"
repo = "https://fluxcd-community.github.io/helm-charts"
namespace = "flux-system"
wait = true
timeout = "10m"

[cluster.addons.flux-bootstrap]
type = "manifest"
path = "k8s/bootstrap.yaml"
namespace = "flux-system"
depends_on = ["flux"]
